<% if (errMess !=null){ %>

    <div id='errorMess-wrapper' class="alert alert-primary alert-dismissible fade show" role="alert">

        <strong id='errorMess'>
            <%=errMess%>
        </strong>
    </div>

<% } %>
    <div id='errorMess-wrapper-pass' class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong id='errorMessPassword'></strong>
    </div>