<div class="w3-top w3-bar w3-black">
    <div class="row">
        <div class="col-10">
            <a class="w3-bar-item w3-button" href="/">Home</a>
            <a class="w3-bar-item w3-button" href="/about">About</a>
            <a class="w3-bar-item w3-button " href="/contact">Members</a>
        </div>
    </div>
    
</div>