    <div class="nav">
        <button id="menu-btn-open" class="menu-button-open" aria-controls="menu" aria-expanded="false"><span
                class="sr-only">Menu</span></button>

        <nav id="menu">
            <ul class="menu" id="menu" data-visible="false">
                <li class="">
                    <a class="nav-item" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-item" href="/about">About</a>
                </li>
                <li>
                    <a class="nav-item" href="/forum">Forum</a>
                </li>
                <li>
                    <a class="nav-item" href="/contact">Members</a>
                </li>
                
                <% if(typeof session !='undefined' && session != null) { %>
                    <div class="dropDownMenu ">
                        <li>
                            <a class="nav-item" href="/forum/personalinfo">My profile</a>
                        </li>
                        <li>
                            <button class="nav-item" type="button" id="themetoggle">Change theme</button>
                        </li>
                        <li>
                            <a class="nav-item" id="logout" href="/logout"><span class="logout">Sign Out</span></a>
                        </li>
                    </div>
                    <% } %>
            </ul>

        </nav>
    </div>
<div id="preloader" data-visible="true"></div>
    <script src="/js/navbar.js"></script>
    