<input class="searchInput" type="text" id="myInput" onkeyup="myFunction('myInput')"
    placeholder="Search for names..">

<!-- <select name="" id="areaFilter">
    <option value=""></option>
    <option value="VIETNAM">VIETNAM</option>
    <option value="UNITED KINGDOM">UNITED KINGDOM</option>
</select>
<select name="" id="roleFilter">
    <option value=""></option>
    <option value="Admin">Admin</option>
    <option value="Staff">Staff</option>
</select> -->
<script src="/js/search.js"></script>