<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
        <%- include('includes/back-to-top.ejs')%>
            <%- include('includes/preloader.ejs')%>

                <body>
                    <div class="container-fluid">
                        <div class="whiteBox fontGeneva div2">
                            <div class="aboutlogo">
                                <img src="/logo.png">
                            </div>
                            <div class="fontGeneva">
                                <h2><b>ABOUT US</b></h2>
                                <p>
                                    We are plant protectors, GREENSAVER. We save the "green" of our Earth by spreading a
                                    "SOS" message from our planet. You can contact us via:<br />
                                    <b>Address :</b> 22 Nguyen Dinh Chieu Street, District 1, Ho Chi Minh City<br />
                                    <b>Email :</b> greensaver@gmail.com<br />
                                    <b>Hotline :</b> 028 1234567
                                </p>

                            </div>
                        </div>
                    </div>
                </body>

</html>