<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<body>
    <div class="container-fluid">
        <div class="row">
                <div class="div2 whiteBox fontGeneva">
                    <div style="display: inline-block;">
                        <img class="aboutImage" src="https://cdn.pixabay.com/photo/2016/06/09/18/36/logo-1446293_960_720.png">
                        
                    </div>
                    <div style="display: inline-block; text-align: justify;">
                        <h2 class="fontGeneva"><b>ABOUT US</b></h2>
                        <p>
                            We are plant protectors, GREENSAVER. We save the "green" of our Earth by spreading a "SOS" message from our planet. You can contact us via:<br />
                            <b>Address :</b> 22 Nguyen Dinh Chieu Street, District 1, Ho Chi Minh City<br />
                            <b>Email :</b> marvel@gmail.com<br />
                            <b>Hotline :</b> 028 1234567
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
