<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <link rel='stylesheet' href='/css/styleSheet.css' />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="div2 whiteBox fontGeneva">
                    <h2 class="fontGeneva"><b>ABOUT US</b></h2>
                    <p>
                        We are plant protectors, GREENSAVER. We save the "green" of our Earth by spreading a "SOS" message from our planet. You can contact us via:<br />
                        <b>Address :</b> 22 Nguyen Dinh Chieu Street, District 1, Ho Chi Minh City<br />
                        <b>Email :</b> marvel@gmail.com<br />
                        <b>Hotline :</b> 028 1234567
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
