<html>
<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>

        <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="pictureSide col">
                        <img class="sidePicture"
                            src="https://static.vnappmob.com/soro/lolivi/1540018689-A384DF84-FE75-4641-91EA-833D10BF92B7.jpg">
                    </div>
                    <div class="loginSide col">
                        <div class="pinkBox">
                            <h1 class="content fontGeneva"><b>LOOKS WONDERFUL?</b></h1>
                            <p class="content fontGeneva">
                                <i>But have you ever try to save it?</i>
                            </p>
                        </div>
                        <div class="pContent fontGeneva whiteBox">

                            <p>
                                <b>Deforestation</b> is the clearing, destroying, or otherwise removal of trees through
                                deliberate, natural,
                                or accidental means. It can occur in any area densely populated by trees and other plant
                                life, but the majority of
                                it is currently happening in the Amazon rainforest.
                            </p> &nbsp;
                            <p><b>The loss of trees</b> and other vegetation can cause climate change, desertification,
                                soil erosion, fewer crops,
                                flooding, increased greenhouse gases in the atmosphere, and a host of problems for
                                Indigenous people.</p>&nbsp;
                            <p><b>Deforestation</b> occurs for a number of reasons. The most common reason is
                                agriculture,
                                with 80% of
                                deforestation resulting from extensive cattle ranching, and logging for materials and
                                development. It has been
                                happening for thousands of years, arguably since people began converting from
                                hunter/gatherer to agricultural
                                based societies, and required larger, unobstructed tracks of land to accommodate cattle,
                                crops, and housing.
                                However, after the onset of the modern era, it became an epidemic.
                            </p>
                        </div>
                        <% if(session==null){ %>
                            <div class="whiteBox" id="loginform">
                                <form action="/auth" method="POST">
                                    <% if (errMess !=null){ %>

                                        <div id='errorMess-wrapper'
                                            class="alert alert-primary alert-dismissible fade show" role="alert">

                                            <strong id='errorMess'>
                                                <%=errMess%>
                                            </strong>
                                        </div>

                                        <% } %>
                                            <table class="table1">
                                                <tr>
                                                    <td><input class="loginForm" type="text" name="username"
                                                            placeholder="Username" required="1"></td>
                                                </tr>
                                                <tr>
                                                    <td><input class="loginForm" type="password" name="password"
                                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                            placeholder="Password" required="1"></td>
                                                </tr>
                                            </table>
                                            <div class="homebuttons">
                                                <input class="submitButton purpleButton width20" type="submit"
                                                    value="Log in">
                                                <a href="/register"
                                                    class="submitButton purpleButton width20">Register</a>
                                                <a href="/resetPass" class="submitButton purpleButton width30">Reset
                                                    Password</a>

                                            </div>
                                </form>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </body>

</html>