<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/css/styleSheet.css' />
    <link rel="stylesheet" href="/css/theBand.css" asp-append-version="true" />
    <title>
        Home
    </title>
</head>
<div class="w3-top w3-bar w3-black">
    <a class="w3-bar-item w3-button" href="/">Home</a>
    <a class="w3-bar-item w3-button" href="/about">About</a>
    <a class="w3-bar-item w3-button" href="/contact">Members</a>
</div>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="pictureSide col">
                <img class="sidePicture" src="https://static.vnappmob.com/soro/lolivi/1540018689-A384DF84-FE75-4641-91EA-833D10BF92B7.jpg">
            </div>
            <div class="loginSide col">
                <div class="pinkBox">
                    <h1 class="content fontGeneva"><b>LOOKS WONDERFUL?</b></h1>
                    <p class="content fontGeneva">
                        <i>But have you ever try to save it?</i>
                    </p>
                </div>
                
                <p class="pContent fontGeneva whiteBox">
                    <b>Deforestation</b> is the clearing, destroying, or otherwise removal of trees through deliberate, natural, or accidental means. It can occur in any area densely populated by trees and other plant life, but the majority of it is currently happening in the Amazon rainforest.<br /><br />
                    <b>The loss of trees</b> and other vegetation can cause climate change, desertification, soil erosion, fewer crops, flooding, increased greenhouse gases in the atmosphere, and a host of problems for Indigenous people.<br /><br />
                    <b>Deforestation</b> occurs for a number of reasons.  The most common reason is agriculture, with 80% of deforestation resulting from extensive cattle ranching, and logging for materials and development. It has been happening for thousands of years, arguably since people began converting from hunter/gatherer to agricultural based societies, and required larger, unobstructed tracks of land to accommodate cattle, crops, and housing. However, after the onset of the modern era, it became an epidemic.
                </p>
        
                <div class="whiteBox">
                    <form action="/contact" method="GET">
                    <table class="table1">
                        <tr>
                            <td><input class="loginForm" type="text" name="username" placeholder="Username" required="1"></td>
                        </tr>
                        <tr>
                            <td><input class="loginForm" type="password" name="password" placeholder="Password" required="1"></td>
                        </tr>
                    </table>
                    <input class="submitButton purpleButton" type="submit" value="Log in">
                    </form>
                    <form action="/register">
                        <table class="table1">
                            <input type="submit" value="Register" class="submitButton purpleButton">
                        </table>
                    </form>
                    <form action="/resetPass">
                        <table class="table1">
                            <input type="submit" value="Reset Password" class="submitButton purpleButton">
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>