        /*Index1*/
        html {
            --white-box: #ffffff;
            --bg: #f0f2f5;
            --text: #000000;
            --nav-bg: #358f4a;
            --nav-item-color: #ffffff;
            --button: hsl(134, 0%, 38%);
        }

        .div1 {
            width: 100%;
            background-color: black;
            position: fixed;
            top: 0;
            height: 35px;
        }

        .a1 {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 10px;
            width: 100%;
            background-color: black;
            top: 0;
            height: 35px;
        }

        .a1:hover {
            color: black;
            background-color: rgb(205, 205, 205);
        }

        .sidePicture {
            width: 100%;
        }

        .pictureSide {
            position: relative;
            width: 100vw;
            min-height: 75vh;
            background: url('/homecover.jpg');
            background-size: 100vw 80vh;
            background-repeat: no-repeat;
        }

        .hometitle {
            font-size: clamp(20px, 20px + 7vw, 180px);
            color: #48c164e1;
            text-shadow: 0 0 30px #000000;
            /* position: absolute;
            top: 50%;
            left: 10%; */
            /* transform: translate(-50%,-50%); */

        }

        .home-section {
            margin-top: 30vh;
            margin-left: 10%;
            z-index: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 0;
        }

        .get-start {
            max-width: 200px;
            font-size: clamp(10px, 10px + 1vw, 20px);
            flex-grow: 1;
            text-align: center;
            vertical-align: middle;
            padding: 8px 16px;
            background-color: white;
            opacity: 0.7;
            text-decoration: none;
            color: black;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            transition: 0.3s;
            filter: invert(0%);
        }

        .get-start:hover {
            opacity: 1;
            transition: 0.3s;
            text-decoration: none;
        }

        html::-webkit-scrollbar {
            display: none;
        }

        html {
            scroll-behavior: smooth;

        }

        p {
            font-size: larger;
        }

        .table1 {
            display: grid;
            row-gap: 10px;
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }

        .loginForm {
            border-radius: 15px;
            /* height: 50px; */
            padding: 10px;
            width: 100%;
            border: 2px solid #c9c9c9;
        }

        .loginForm:focus {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.168);
        }

        h2 {
            text-align: center;
        }

        a:hover {
            text-decoration: none;
        }

        .homebuttons {
            margin: auto;
            display: flex;
            place-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
            width: 100%;
        }

        /* .submitButton {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        } */
        .vertical-align-center {
            vertical-align: middle;
        }

        .red {
            background-color: rgb(200, 61, 61);
            color: white;
            padding: 5px;
            border-radius: 10px;
            transition: 0.3s;
            font-weight: bold;
            padding-inline: 15px;
            padding-block: 7px;
        }

        .red:hover {
            background-color: #cdcdcd;
            color: black;
            transition: 0.3s;
        }

        .width20 {
            width: 20%;
        }

        .width30 {
            width: 30%;
        }

        .width40 {
            width: 40%;
        }

        .width60 {
            width: 60%;
        }

        .width80 {
            width: 80%;
        }

        .resetAndRegister {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        /* .loginSide {
            float:right;
            width: 50%;
        } */

        .pContent {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 10vh;
            /* margin-top: 20px;
            margin-bottom: 20px; */
            text-align: justify;
        }

        .fontGeneva {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        /*manageContact*/
        .purpleButton {
            flex-grow: 1;
            text-align: center;
            vertical-align: middle;
            padding: 8px 16px;
            background-color: var(--button);
            text-decoration: none;
            color: black;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            transition: 0.3s;
            filter: invert(100%);

        }

        .purpleButton:not(#countBox):hover {
            filter: invert(0%);
            transition: 0.3s;
            text-decoration: none;
        }

        .table2 {
            margin-top: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tr:has(th) {
            background-color: var(--nav-bg);
            color: white
        }

        tr:nth-of-type(2n) {
            background-color: var(--bg);
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }


        /*about*/
        .div2 {
            width: 70%;
            display: flex;
            flex-direction: row;
            /* position: relative; */
        }

        .div2 div {
            /* grid-template-columns: 30% auto; */
            flex-basis: 50%;

        }

        .aboutlogo {
            width: 100px;
            aspect-ratio: 1;
        }

        .aboutlogo img {
            width: 100%;
        }

        .whiteBox {
            display: grid;
            place-items: center;
            grid-auto-flow: row;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            padding: 20px 20px;
            background-color: var(--white-box);
            backdrop-filter: blur(5px);
            max-width: 100%;
            /* overflow: scroll; */
        }

        .whiteBox::-webkit-scrollbar {
            display: none;
        }

        .pinkBox {
            border-radius: 10px;
            padding: 20px 20px;
            background-color: #ffc7c7;
            color: black;
            flex-grow: 1;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        /*register form*/
        .registerForm {
            margin-right: auto;
            margin-left: auto;
            width: 100%;
        }

        .formCon {
            width: 60%;
        }

        .registerButton {
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }

        .formTitle {
            font-size: xx-large;
            /* margin-top: 40px; */
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        .tableForm {
            width: 100%;
        }

        .inputForm {
            width: 100%;
        }

        /*reset pass*/
        .resetPassForm {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

        .errorMessage {
            color: red;
        }

        body {
            background-color: var(--bg);
            width: 100vw;
            overflow-x: hidden;
            color: var(--text);
        }

        ;

        /*Footer*/

        .aboutImage {
            max-width: 100px;
        }

        .alert {
            color: red;
            text-transform: uppercase;
            font-weight: bold;
            display: grid;
            place-content: center;
        }

        .picside {
            overflow: hidden;
            flex-basis: 20%;
        }

        .searchInput {
            width: 100%;
            padding: 15px;
            margin: 5px 0 5px 0;
            border: none;
            background: var(--bg);
            border-radius: 15px;
            color: var(--text);
        }

        .searchInput::placeholder {
            color: var(--text);
        }

        .searchInput:focus {
            background-color: var(--white-box);
            border: #3e3e3e 3px;
            border-radius: 15px;

            transition: 0.3s;
        }

        .newsfeed {
            height: 93.5vh;
            height: 93.5dvh;
            width: 70%;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .post {
            display: flex;
            flex-direction: column;
            place-items: start;
        }

        .post p {
            opacity: 0.7;
        }

        .post img {
            min-width: 40%;
            max-width: 80%;
            max-height: 300px;
            margin-left: auto;
            margin-right: auto;
            border: #30303099 3px solid;
            border-radius: 10px;
        }

        .post-title {
            position: relative;
            margin-left: 0px;
            width: 100%;
            text-align: left;
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            justify-content: space-between;
            opacity: 0.9;
            color: rgb(226, 172, 130);
            font-family: cursive;
        }

        .post-title h3 {
            font-size: 40px;
        }

        .searchbar {
            display: flex;
            flex-flow: row wrap;
        }

        .searchbar .select-section {
            flex-grow: 1;
        }

        .nav {
            position: fixed;
            top: 0;
            z-index: 10;
            display: flex;
            flex-direction: row;
        }

        .nav-item {
            color: var(--nav-item-color);
            height: 40px;
            display: grid;
            place-items: center;
            vertical-align: center;
            padding-inline: 30px;
            font-weight: bold;
            text-decoration: none;
            transition: 0.3s;
            filter: invert(0%);
        }

        .nav-item:hover {
            filter: invert(100%);
            transition: 0.3s;
        }

        .home {
            background: url('https://cdn.pixabay.com/photo/2016/06/09/18/36/logo-1446293_960_720.png');
            background-repeat: no-repeat;
            background-size: 38px 30px;
            background-position: center;
            position: fixed;
            width: fit-content;
            left: 5px;
            z-index: 1000;
            display: flex;
        }

        .homebut {
            width: 40px;
            aspect-ratio: 1;
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100vw;
            background-color: var(--nav-bg);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }

        .menu ul {
            position: relative;
            right: 0;
        }

        input[type=checkbox] {
            border: none;
            text-decoration: none;
        }

        .right {
            position: fixed;
            width: fit-content;
            right: 5px;
            /* z-index: 1000; */
            display: flex;
        }

        .menu-button-open {
            display: none;
        }

        #selectButton {
            width: 100%;
        }


        @media (max-width:542px) {
            .menu-button-open {
                position: absolute;
                display: block;
                background: url("/icons8-menu.svg");
                background-repeat: no-repeat;
                height: 40px;
                aspect-ratio: 1;
                border: none;
                transform: 0%;
                z-index: 1;
                background-color: var(--nav-bg);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                width: 100vw;
            }

            .menu-button-open[aria-expanded='true'] {
                background: url("/icons8-close.svg");
                background-repeat: no-repeat;
                background-color: rgba(168, 168, 168, 0.277);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                width: 100vw;
            }

            .menu[data-visible='true'] {
                left: 0px;
                transition: 0.3s ease-out;
            }

            .menu {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                place-items: center;
                justify-content: center;
                position: absolute;
                left: -1000px;
                transition: 0.3s ease-in;
            }

            .menu li {
                margin: 0 0 5px 0;
                font-size: calc(100% + 5px);
            }

            .newsfeed {
                width: 100vw;
                /* margin-left: -15px; */
            }

            .row {
                width: 100vw;
            }

            .col-8 {
                padding: 0;
            }

            .post-title {
                flex-direction: column;
            }

            .picside {
                display: none;
            }

            .right {
                position: relative;
                margin: auto;
            }

            .logout {
                display: none;
            }

            #logout {
                background: url('/icons8-logout-40.png');
                background-repeat: no-repeat;
                background-position: center;
            }

            .container-fluid {
                all: revert;
                display: flex;
                flex-direction: column;
                width: 100vw;

            }

            .sidePicture {
                width: 100vw;
                background: rgb(2, 0, 36);
                background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%,
                        rgba(168, 168, 168, 0.427) 30%,
                        rgba(255, 255, 255, 1) 100%);
                /* overflow: hidden; */
            }

            td {
                display: grid;
                grid-template-columns: 40% auto;
                width: 80vw;
            }

            td:first-child {
                display: none;
            }

            td::before {
                font-weight: bold;
                text-transform: capitalize;
            }

            th {
                display: none;
            }

            td:nth-of-type(1)::before {
                content: 'No. : ';
            }

            td:nth-of-type(2)::before {
                content: 'Name : ';
            }

            td:nth-of-type(3)::before {
                content: 'Email : ';
            }

            td:nth-of-type(4)::before {
                content: 'Phone : ';
            }

            td:nth-of-type(5)::before {
                content: 'Area : ';
            }

            td:nth-of-type(6)::before {
                content: 'Role : ';
            }

            .tableForm {
                all: revert;

            }

            .formCon {
                width: 100%;
            }

            .div2 {
                width: 100%;
            }
        }

        @media (max-width:769px) {
            .picside {
                display: none;
            }

            .home-section {
                z-index: 10;
                display: grid;
                place-items: center;
            }

            .container-fluid {
                all: revert;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100vw;
            }

        }

        .container-fluid {
            position: absolute;
            all: revert;
            display: flex;
            flex-direction: column;
            flex-wrap: no-wrap;
            width: 100vw;
            margin-top: 40px
        }

        .container-fluid * {
            flex-basis: 100%;

        }

        .con-and-app {
            display: flex;
        }

        .con-and-app a {
            max-width: 150px;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
        }

        .main {
            flex-basis: 400%;
            background: url('/bgi.jpg');
            /* background-repeat: no-repeat; */
            background-size: 100% 100%;
            width: 100vw;
            height: calc(100vh - 40px);
        }

        #myBtn {
            transform: scale(0%);
            transition: 0.3s;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 20px;
            /* Place the button at the bottom of the page */
            right: 30px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            color: white;
            /* Text color */
            cursor: pointer;
            /* Add a mouse pointer on hover */
            padding: 15px;
            /* Some padding */
            border-radius: 50%;
            /* Rounded corners */
            font-size: 18px;
            /* Increase font size */
            background: url('/icons8-upward-arrow-40.png');
            width: 40px;
            aspect-ratio: 1;

        }

        #myBtn[data-visible='true'] {
            transform: scale(100%);
            transition: 0.3s;
        }

        #myBtn:hover {
            background-color: #555;
            transition: 0.3s;
            /* Add a dark-grey background on hover */
        }

        .reg-and-reset {
            padding-inline: clamp(15px, 15px + 2vw, 20px);
        }

        .post-content {
            text-align: justify;
            padding-block: 10px;
            font-size: 20px;
        }

        .form {
            display: grid;
        }

        .form input,
        .form select {
            width: 100%;
            padding: 15px;
            margin: 5px 0 5px 0;
            border: none;
            background: var(--bg);
            border-radius: 15px;
            color: var(--text);
        }

        .form input::placeholder,
        .form select::placeholder {
            color: var(--text);
        }

        .form input:focus,
        .form select:focus {
            background-color: var(--bg);
            border: #3e3e3e 3px;
            border-radius: 15px;

            transition: 0.3s;
        }

        #preloader {
            background: #303030 url('/loading.gif') no-repeat center center;
            background-size: 10% auto;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 1000;
            display: grid;
            place-content: center;
        }

        #preloader[data-visible='false'] {
            opacity: 0;
            transition: 0.3s;
            z-index: -1;
        }

        iframe {
            width: 100%;
            height: 45vw;
            margin-block: 10px 50px;
        }

        .transition-fade {
            opacity: 1;
            transition: 0.5s;
            transform: translateX(0%);
            transform-origin: left;
        }

        html.is-animating .transition-fade {
            transform: translateX(-100%);
        }

        html.is-rendering .transition-fade {
            opacity: 1;
            /* transform: translateX(0%); */
            transition: 0.5s;
            transform-origin: right;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .dropDownMenu {
            height: 40px;
            width: 40px;
            background: url('/icons8-user-40.png');
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: var(--nav-bg);
            position: absolute;
            right: 0;
            margin: auto;
            display: grid;
            place-items: center;
        }

        .menu button {
            background: none;
            border: none;
        }

        .dropDownMenu:hover {
            background: none;
            background-color: var(--nav-bg);
            width: fit-content;
        }

        .dropDownMenu li {
            display: none;
            width: fit-content;
        }

        .dropDownMenu:hover li {
            display: block;
            width: 100%;
            background-color: var(--nav-bg);

        }

        /* html[data-theme='light'] body {
            background-color: rgb(181, 181, 181);
            color: rgb(35, 35, 35)
        }


        html[data-theme='light'] body main .whiteBox {
            background-color: rgb(235, 235, 235);
            color: rgb(35, 35, 35)
        } */

        html[data-theme='dark'] {
            --white-box: #3e3e3e;
            --bg: #303030;
            --text: #ffffff;
            --button: #929292;
        }

        .gradient-custom {
            /* fallback for old browsers */
            background: #f6d365;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
        }

        .card {
            background-color: var(--white-box);
            color: var(--text);
        }

        td:has(.DEA) {
            position: relative;
        }

        .DEA {
            display: none;
            width: 100%;
        }

        .DEA[data-visible='true'] {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            border-radius: 10px;
            overflow: hidden;
            /* top: 0;
            right: 0; */
        }

        .DEA[data-visible='true'] a {
            text-align: center;
            vertical-align: middle;
            flex-grow: 1;
            color: var(--text);
            background-color: var(--button);
            filter: invert(100%);
            padding: 5px;
            transition: 0.3s
        }

        .DEA[data-visible='true'] a:hover {
            filter: invert(0%);
        }

        .DEAbutton {
            height: 24px;
            aspect-ratio: 1;
            border: none;
            background: url('/icons8-menu-vertical-50.png');
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .DEAbutton:hover {
            filter: brightness(150%)
        }

        /* footer */
        footer {
            margin-top: 20px;
        }
        .footer-32892 {
            background-color: var(--white-box);
            padding: 7rem 0;
            color: #888;
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: relative;
        }

        .footer-32892,
        .footer-32892 h3 {
            font-family: "Poppins", sans-serif;
        }

        .footer-32892 h3 {
            font-size: 20px;
            color: var(--text);
            margin-bottom: 30px;
        }

        .footer-32892 p {
            font-family: "Source Serif Pro", serif;
        }

        .footer-32892 .row.gallery {
            margin-right: -5px;
            margin-left: -5px;
            /* display: grid;
            place-items: center;
            grid-template-columns: 100px 100px; */
            width: 100%;
            aspect-ratio: 1;
            max-width: 300px;
            overflow: hidden;
        }

        .footer-32892 .row.gallery>[class^="col-"],
        .footer-32892 .row.gallery>[class*=" col-"] {
            padding-right: 5px;
            padding-left: 5px;
            height: 100%;
            width: 100%;
        }

        .footer-32892 .gallery a {
            display: block;
            margin-bottom: 10px;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
            object-fit: cover;
        }

        .footer-32892 .gallery a:hover {
            opacity: .5;
        }

        .footer-32892 .quick-info li {
            color: var(--text);
            font-size: 16px;
            margin-bottom: 10px;
        }

        .footer-32892 .quick-info li a {
            color: var(--text);
        }

        .footer-32892 .quick-info li .icon {
            font-size: 20px;
            color: #f88020;
        }

        .footer-32892 .subscribe {
            position: relative;
        }

        .footer-32892 .subscribe .form-control {
            background-color: #292b31;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 30px;
            height: 55px;
            padding-left: 30px;
            padding-right: 130px;
            border: none;
            color: #fff;
        }

        .footer-32892 .subscribe .form-control::-webkit-input-placeholder {
            color: #ccc;
            font-size: 14px;
        }

        .footer-32892 .subscribe .form-control::-moz-placeholder {
            color: #ccc;
            font-size: 14px;
        }

        .footer-32892 .subscribe .form-control:-ms-input-placeholder {
            color: #ccc;
            font-size: 14px;
        }

        .footer-32892 .subscribe .form-control:-moz-placeholder {
            color: #ccc;
            font-size: 14px;
        }

        .footer-32892 .subscribe .btn-submit {
            background: var(--nav-bg);
            height: 47px;
            border-radius: 30px;
            padding-left: 30px;
            padding-right: 30px;
            color: var(--text);
            font-weight: bold;
            position: absolute;
            top: 4px;
            right: 4px;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        }

        .footer-32892 .tweets li {
            margin-bottom: 20px;
            font-size: 15px;
            font-style: italic;
            font-family: "Source Serif Pro", serif;
        }

        .footer-32892 .tweets li span {
            color: var(--text);
        }

        .footer-32892 .footer-menu-wrap {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding-top: 2rem !important;
            margin-top: 7rem;
        }

        .footer-32892 .footer-menu {
            margin-bottom: 0;
        }

        .footer-32892 .footer-menu li {
            display: inline-block;
        }

        @media (max-width: 767.98px) {
            .footer-32892 .footer-menu li {
                display: block;
            }
        }

        .footer-32892 .footer-menu li a {
            padding: 10px;
            display: inline-block;
            color: #fff;
        }

        @media (max-width: 767.98px) {
            .footer-32892 .footer-menu li a {
                display: block;
                padding-left: 0px;
            }
        }

        .footer-32892 .footer-menu li:first-child a {
            padding-left: 0;
        }

        .footer-32892 .site-logo {
            color: #fff;
            font-size: 20px;
        }
        .footer-32892 .site-logo-wrap {
            float: right;
            right: 0;
        }

        .fa-solid {
            padding-right: 10px;
        }
        .img-fluid {
            object-fit: cover;

        }
        button {
            border: none;
            background-color: var(--bg);
            color: var(--text);
            filter: invert(100%);
            transition: 0.3s;
        }
        button:disabled {
            opacity: 0.5;
        }
        button:hover {
            filter: invert(0%);
        }