        /*Index1*/
        .div1 {width: 100%; background-color: black; position: fixed; top: 0;height: 35px;}
        .a1 {text-decoration: none; color: white; font-size: 20px; padding: 10px; width: 100%; background-color: black; top: 0;height: 35px;}
        .a1:hover {color: black; background-color: rgb(205, 205, 205);}
        .sidePicture {
            height:100%;
        }
        .pictureSide {
            /*width: 50%;
            height: 100%;*/
            overflow:hidden;
        }
        .content {
            text-align: center;
            /*width: 60%;*/
            margin-left: auto;
            margin-right: auto;
        }
        p {font-size: larger;}
        .table1 {margin-left: 10%; margin-right: 10%; width:80%;}
        .loginForm {
            border-radius: 15px;
            height: 50px;
            width: 100%;
            border: 3px dashed #c9c9c9;
        }
        h2 {
            text-align: center;
        }
        .submitButton {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .resetAndRegister {margin-top: 20px;margin-left: auto; margin-right: auto;}
        
        .loginSide {
            /*float:right;
            width: 50%;*/
        }
        
        .pContent {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 50px;
            text-align: justify;
        }
        
        .fontGeneva {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        .center{margin-left: auto; margin-right: auto;}
        /*manageContact*/
        .purpleButton {
            vertical-align: middle;
            padding: 8px 16px;
            background-color: #784ca8;
            text-decoration: none;
            color: white;
            border-radius: 10px;
        }
        .purpleButton:hover {
            color: black;
            background-color: #cdcdcd;
            transition: 0.3s;
        }
        /* .logOut {
            margin-top: 40px;
        } */
        .table2 {
            margin-top: 10px;
            width: 50%;
        }
        /*about*/
        .div2 {margin-top: 60px; width: 60%; margin-left: auto; margin-right: auto; text-align: center;}
        .whiteBox {
            border-radius: 10px;
            padding: 20px 20px;
            background-color: white;
        }
        .pinkBox {
            border-radius: 10px;
            padding: 20px 20px;
            background-color: #ffc7c7;
        }
        /*register form*/
        .registerForm {margin-right: auto; margin-left: auto; width: fit-content;}
        .registerButton {margin-left: auto; margin-right: auto; width: fit-content;}
        .formTitle {
            margin-top: 40px;
            text-align: center;
        }
        
        /*reset pass*/
        .resetPassForm { width: fit-content; margin-left: auto; margin-right: auto;}
        .errorMessage {color: red;}
        
        body {background-color: #e7e7e7;}
        ::-webkit-scrollbar{
            width:10px;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #c0c0c0;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-track {
            background-color: #5a9c64;
        }
        /*Footer*/